<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IOS-TouchId-Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E778E76A1BD9D04A0006FA83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E778E7831BD9D04B0006FA83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E778E78E1BD9D04B0006FA83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
